.Navigation-toggle
  a(href='#')
    i.fa.fa-navicon

nav.Navigation.Navigation--background
  ul
    li 
      a(href='./') Home
    li.Navigation-trigger 
      span Subdirectory
      ul.Navigation-secondLevel
        li 
          a(href='subdirectory/'). 
            Subdirectory 
