script(src='_js/jquery.js')
script(src='_js/display-detail.js')
script(src='http://cdnjs.cloudflare.com/ajax/libs/html-inspector/0.8.1/html-inspector.js')
script.
  HTMLInspector.inspect({
    excludeRules: ['unused-classes']    
  });
