doctype html
html(lang="de")
  include _head.jade
  block head
  body
    .u-marginTop2
    .main
      include _navigation.jade
      block content
      include _footer.jade
    .u-marginTop2
  include _scripts.jade
