extends ../../_templates/main.jade
block basetag
  -var base = '../../'
block content

  .Grid.Grid--withGutter.u-hidden.u-marginBottom2
    .Grid-cell
      .GreyBox.GreyBox--small
        .GreyBox-label.GreyBox-label--small.
          This is a page in a subsubdirectory
