include _templates/helpers/ipsum.jade
extends _templates/main.jade
block content

  .Grid.Grid--withGutter.u-marginTop2
    .Grid-cell.u-size1of3
      .GreyBox.GreyBox--large.GreyBox--important
        .GreyBox-label.
          Home of the twig project
